
.container{
    width: 15rem;
    height: 20rem;
    background-color: var(--clr-light-ele);
    border-radius: .5rem;
}

.content{
    padding: 1rem;
}

.content>ul>li{
    list-style: none;
    padding: 0%;
}

.content>ul{
    padding: 0%;
}

.heading__card{
    font-size: var(--fs-detail);
    font-weight: var(--fw-bold);
}

.image{
    width: 15rem;
    height: 10rem;
    padding: 0%;
    margin: 0%;
    /* border-radius: .5rem; */
}

.image>img{
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    object-fit: cover;
}
