
:root{
  --clr-Dark-ele: hsl(209, 23%, 22%);
  --clr-Dark-background:hsl(207, 26%, 17%);
  --clr-light-text:hsl(200, 15%, 8%);
  --clr-light-input:hsl(0, 0%, 52%);
  --clr-light-background:hsl(0, 0%, 96%);
  --clr-light-ele: hsl(0, 0%, 100%);
  --clr-Dark-text:var(--clr-light-ele);

  --fs-home:.875rem;
  --fs-detail:1rem;
  --fw-light:300;
  --fw-semibold:600;
  --fw-bold:800;
  --font-family: 'Nunito Sans', sans-serif;
}

.App{
  font-family:var(--font-family);
  background-color: var(--clr-light-background);
}

.grid__conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  place-items: center;
}

@media(max-width:1090px){
  .grid__conatiner{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width:750px){
  .grid__conatiner{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:490px){
  .grid__conatiner{
    grid-template-columns: 1fr;
  }
}